<div class="container">
  <h4>New Recipe</h4>
  <%= form_with model: @recipe, url: recipes_path do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <br />
    <div class="field">
      <%= f.label :preparation_time %><br />
      <%= f.text_field :preparation_time %>
    </div>
    <br />
    <div class="field">
      <%= f.label :cooking_time %><br />
      <%= f.text_field :cooking_time %>
    </div>
    <br />
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, size:"30x5"%>
    </div>
    <br />
    <%= f.submit %>
  <% end %>
</div>