<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "btn btn-light nav-font-sizes" %>
        </li>
      </ul>
      <div class="d-flex flex-row">
      <% if user_signed_in? %>
        <%= link_to "New Recipe", new_recipe_path, class: "btn btn-dark nav-font-sizes" %>
        <div class="nav-item dropdown">
          <span class="nav-link dropdown-toggle text-dark nav-font-sizes" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</span>
          <ul class="dropdown-menu  dropdown-menu-end nav-font-sizes" aria-labelledby="navbarScrollingDropdown">
            <li>Foods</li>
            <li>
              <%= link_to "Recipes", recipes_path %>
            </li>
            <li>
              <%= link_to 'Shopping List', general_shopping_list_path %>
            </li>
            <li>
              <%= button_to "Sign out", destroy_user_session_path, class: "text-danger", method: :delete %>
            </li>
          </ul>
        </div>
      <% else %>
        <ul class="d-flex flex-row gap-3 list-unstyled">
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark nav-font-sizes" %>
          </li>
          <li>
            <%= link_to "Sign in", user_session_path, class: "btn btn-light nav-font-sizes" %>
          </li>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</nav>